@import "style";

ul.microposts{
  list-style-type: none;
  li{
    border-bottom:1px solid rgba(0,0,0,0.1);
    padding:10px 4px;
    p{
      width:85%;
      margin:0px;
      &:first-of-type{
        font-size:15px;
        line-height: 16px;
      }
      &:nth-of-type(2){
        color:#9d9d9d;
        font-size:11px;
      }
    }
    &:hover {
      display:block;
    }
  }
  a{
    float:right;
    position:relative;
    top:-19px;
    cursor: pointer;
    font-size:13px;
    color:$red;
    right:5px;
//    display:none;
    @include transition(color);
    &:hover{
      display:block;
      color:darken($red,20%);
    }
  }
}