// Place all the styles related to the static_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "style";

.talking
{
  padding:0 13px;
  &>p{
    margin-bottom:0px;
  }
  ul.content-list{
    list-style-type: none;
    padding:0px;
    &>li:not(.comment-list){
      padding:12px 0;
      border-bottom:1px solid rgba(0,0,0,0.1);
      display:table;
      &:after{
        @include clear;
        width:100%;
      }
      width:100%;
      $img-width:40px;
      $margin-right:25px;
      &>a.link-user{
        width:$img-width + $margin-right;
        height:$img-width;
        display:table-cell;
        margin-right:$margin-right;
        position:relative;
        vertical-align:middle;
        &>img{
          @include border-radius($img-width);
        }
        &>.glyphicon{
          position:absolute;
          right: 11px;
          top: 2px;
          color:rgba(0,0,0,0.18);
          font-size:12px;
        }
      }

      &>p{
        display:table-cell;
        @include box-sizing;
        width:80%;
        @include word-break;
        margin:0px;
        line-height:17px;
        color:#666;
        vertical-align:middle;
      }
      &>.comment{
        font-size:12px;
        cursor:pointer;
        display:table-cell;
        vertical-align:bottom;
        text-align:center;
        @include transition(color);
        &:hover{
            color:#222;
        }
      }
    }
  }
  .pagination{
    float:right;
  }
}