$orange:#f0aa3c;
$red:#D9534F;
$primary:#428BCA;

.bs-callout-danger {
  $red:#D9534F;
  background-color: #FDF7F7;
  border-color: $red;
  padding:4px 11px;
  position:relative;
  margin:0px 0px 10px;
  &:before{
    content:"";
    background:$red;
    width:2px;
    position:absolute;
    left:0px;
    top:0px;
    bottom:0px;
  }
  h4{
    color:$red;
    font-size:14px;
  }
  ul{
    padding-left:0px;
    list-style-type: none;
    li{
      font-size:14px;
      color:lighten($red,10%);
    }
  }
}
@mixin border-radius($radius){
  border-radius:$radius;
  -webkit-border-radius:$radius;
  -moz-border-radius:$radius;
}
@mixin clear{
  content:"";
  display:block;
  clear:both;
}
@mixin box-sizing{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
@mixin word-break{
  word-break: break-all;
  word-wrap: break-word;
}
@mixin transition($element){
  transition:$element 0.25s ease-out;
}